@import '../base/variable.css';
.text-color {
    color: var(--text-color);
}

.title {
    color: var(--title-color);
    font-weight: bold;
}

.hr {
    color: var(--primary);
    width: 100%;
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: 500;
}

.text-small {
    font-size: small;
}