.add-new-form {
    display: flex;
    justify-content: space-between;
    & input {
    }
    & table {
        width: 100%;
        border-spacing: 15px;

        & td {
            padding: 0 15px;
        }
    }
    & .-info,
    & .cate-fish {
        height: fit-content;
    }
    & .cate-fish {
        overflow: auto;
    }

    & .submit-button-form {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    & .-images-add {
        display: flex;
        justify-content: space-between;
    }
    & .input-customize-weight {
        width: 100px;
    }
}
.product-add-new-form {
    display: flex;
    justify-content: space-between;
    & input {
    }
    & table {
        width: 100%;
        border-spacing: 15px;
        & td {
            padding: 0 15px;
        }
    }

    & .cate-fish {
        overflow-y: auto;
        overflow-x: hidden;
        height: 50vh;
    }

    & .submit-button-form {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    & .product-images-add {
        display: flex;
        justify-content: space-between;
    }
    & .input-customize-weight {
        width: 100px;
    }
    & .manager-product-imgList {
        display: flex;
        flex-wrap: wrap;
        & .img-item {
            & img {
                width: 50px;
                height: 50px;
                margin: 10px;
            }
            & button {
                margin-left: -60px;
                visibility: hidden;
            }
        }
    }
    & .img-item:hover {
        & button {
            visibility: visible;
        }
        & img {
            opacity: 0.3;
        }
    }
}
