@import '../../base/variable';
.product-show {
	display: flex;
	flex-direction: column;
	& .product-list {
		display: flex;
		flex-wrap: wrap;
		grid-column-gap: 5px;
	}
}
.product-choose-filter {
	background-color: #fff;
	border-radius: 5px;
	& .head-text {
		background-color: $primary;
		color: #fff;
		height: 50px;
		font-size: larger;
		padding: 5px;
		font-weight: 500;
		display: flex;
		align-items: center;
	}
	& .button-submit {
	}
}
.product-type {
	h1 {
		text-align: center;
	}
}

.pagination {
	& .disabled {
		border-radius: 5px;
	}
}
