@import "src/assets/scss/base/_variable.scss";
.manager-show {
  padding: 20px;
  & table {
    width: 100%;
  }
  & span {
    border-bottom: 4px solid $bottom-line;
    padding: 15px 0;
  }

  & th,
  & caption {
    font-weight: 500;
    color: $primary;
  }

  .item-right{

  }
}
