@import "src/assets/scss/base/variable";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.product-add-new-form {
  display: flex;
  justify-content: space-between;

  & input {
  }

  .form-edit {
    width: 100%;
    border-spacing: 15px;

    & td {
      padding: 0 15px;
      width: 50%;
      vertical-align: top;

    }

  }

  & .cate-fish {
    overflow-y: auto;
    overflow-x: hidden;
    height: 50vh;
  }

  & .submit-button-form {
    display: flex;
    justify-content: space-between;
    padding: 20px;

  }

  & .product-images-add {
    display: flex;
    justify-content: space-between;
  }

  & .boder-choose-texture {
    border: 1px solid #ADC4ADFF;
    padding: 5px 25px 5px 0;
    border-radius: 2px;
    display: flex;

    & .img-item {

      & img {
        width: 35px;
        height: 35px;
        margin-left: 10px;
      }

      & button {
        margin-left: -35px;
        width: 35px;
        padding: 0;
        font-size: smaller;
        visibility: hidden;
      }
    }
  }

  & .input-customize-weight {
    width: 100px;
  }

  & .manager-product-imgList {
    display: flex;
    flex-wrap: wrap;

    & .img-item {
      & img {
        width: 50px;
        height: 50px;
        margin: 10px;
      }

      & button {
        margin-left: -60px;
        visibility: hidden;
      }
    }
  }

  & .img-item:hover {
    & button {
      visibility: visible;
    }

    & img {
      opacity: 0.3;
    }
  }
}

.side-bar-right {
  height: fit-content;
}

.table-material {
  width: 100%;
  text-align: center;

  & thead {
    font-weight: 500;
  }

  .mate-name {
    height: 30px;
  }
}

.table-variant {
  width: 100%;
  text-align: center;
  border-spacing: 15px;
  border-collapse: collapse;

  & thead {
    font-weight: 500;
  }

  & td {vertical-align: top;
    & img {
      width: 50px;
      height: 50px;

    }
  }


}

.shadow-bottom {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
}

.table-variant-add-new {
  width: 70%;
  border-collapse: collapse;
  border-spacing: 20px;
  margin: 0 auto 50px auto;

  & td {
    padding: 5px 20px;
    vertical-align: top;
  }

  & .file-variant-width {
    max-width: 200px;
  }

  & .thumbnail-variant {
    position: relative;
    width: fit-content;

    & .variant-image {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      object-fit: cover;
    }

    & .delete-img {
      position: absolute;
      right: 0;
    }
  }

}

.error-message-material-item {
  font-size: 12px;
  text-align: left;
}