.carousel{
    width: 100%;
    & .color-black{
        color: black;
        font-weight: bold;
    }
    & .item-center {
        display: flex;
        justify-content: center;
    }
    & .carousel-control-next, .carousel-control-prev{
        width: fit-content;
    }
}