@import '../base/base';
.card-product {
	width: 12rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #f3f3f3;
	background-clip: border-box;
	border: 1px solid #f3f3f3;
	transition: 0.5s;
	position: relative;

	& .text-color-primary {
		color: $primary;
	}
	// & .text-name-product {
	// 	text-transform: lowercase;
	// }
	// & .text-name-product::first-letter {
	// 	text-transform: uppercase;
	// }
	& .thumb{
		height: 12rem;
		display: flex;
		justify-content: center;
		justify-items: center;
		& .delete-custom-button{
			position: absolute;
			right: 0;
			& i{
				font-size: 25px;
			}
			&:hover{
				color: red;
			}
		}
	}
	& .card-img-top{
		object-fit: contain;
	}
}

.card-product:hover {
	box-shadow: 0px 5px 13px -7px #000000, 3px 3px 10px 3px rgba(0, 0, 0, 0);
	transform: translateY(-7px);
	& .text-name-product {
		text-decoration: underline;
	}
}
.card-info{
	background-color: white;
}
@media screen and (max-width: $mobile-width - 1px) {
	.card-product {
		width: 9rem;
		& .thumb{
			height: 9rem;
		}
	}
}
