@import "assets/scss/base/_variable.scss";
.manager-user-show {
  padding: 20px;
  & table {
    width: 100%;
  }
  & span {
    border-bottom: 4px solid $bottom-line;
    padding: 15px 0;
  }
  & td,
  & th {
    padding: 5px;
  }
  & th,
  & caption {
    font-weight: 500;
    color: $primary;
  }
  & .page-item.active .page-link {
    background-color: $primary;
    border-color: $primary;
  }
  & .page-link {
    color: $primary;
  }
}
.manager-user-detail {
  & .default-address {
    background-color: $hover-color;
    color: white;
    border-radius: 5px;
    text-align: left;
    vertical-align: center;
    margin-left: 5px;
    padding-right: 5px;
  }
  & .manager-user-address{
    max-height: 400px;
    overflow-y: auto;
  }
}
