.product-details-quantity{
    border: 1px solid;
    width: fit-content;
    & input::-webkit-inner-spin-button{
      -webkit-appearance: none;
    }
    & .input-quickview{
      outline: none;
      border: none;
      text-align: center;
      width: 50px;
    }
    & .quantity-input{
      border: none;
      background-color: #fff;
    }
  }