.product-add-new-form{
    display: flex;
    justify-content: space-between;
    & input{
    }
    & table{
        width: 100%;
        
    }
    & .product-info, & .cate-fish{
        border-radius: 10px;
        height: fit-content;
    }
    & .submit-button-form{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border: 1px solid;
    }
    & .product-images-add{
        display: flex;
        justify-content: space-between;
    }
}