@import "src/assets/scss/base/_variable.scss";
.manager-product-detail {
  & table {
    width: 100%;
    & tr {
      border-bottom: 1px solid $border-line;
    }
    & th,
    & caption {
      font-weight: 500;
      color: $primary;
    }
    & .detail-description {
      border: 1px solid $border-line;
    }
    & .w-40{
      width: 40%;
    }
  }
  & .product-detail-image {
    & img {
      margin: 5px;
      width: 70px;
      height: 70px;
      object-fit: contain;
      border: 1px solid;
    }
  }
}
