@import "../../base/variable";
.payment{
    & img{
        width: 100px;
    }
    & table{
        width: -webkit-fill-available;
        & tr{
            
        & td{
            vertical-align: top;
        }border-bottom: 1px solid;
        }
    }
}
@media screen and (max-width: $mobile-width - 1px){
    .payment{
        & img{
            width: 60px;
        }
    }
}