#draggable-dialog-title {
  .MuiTypography-h6 {
    font-family: unset;
  }
}
#MuiDialogContent-root {
  .MuiDialogContentText-root {
    font-family: unset;
  }
}
.MuiButton-label{
    font-weight: bold;
}
