@import "../base/variable";
.about {
  & h1{
    text-align: center;
  }
  & .showcase-text {
    text-align: justify;
    padding: 0;
    & span {
      margin: 20px;
    }
  }
  & .img-responsive {
    width: 100%;
  }
}
@media screen and (min-width: $mobile-width - 1px) {
  .about {
    & .text-case {
      padding: 0.5rem;
    }
  }
}
@media screen and (min-width: $tablet-width - 1px) {
  .about {
    & .text-case {
      padding: 1.5rem;
    }
  }
}
@media screen and (min-width: $desktop-width - 1px) {
  .about {
    & .text-case {
      padding: 3rem;
    }
  }
}
