@import "../base/variable";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');


.campaign {
  font-family: 'Lexend', sans-serif;

  & h3 {
    font-weight: 500;
  }

  & .campaign-banner {

    & .banner-container {
      position: relative;

      & .img-banner {
        object-fit: cover;
        width: 100%;
      }
    }
  }

  & .countdown {
    font-weight: 300;
  }

  & .campaign-main {
    & .campaign-content {
      text-align: justify; /* For Edge */
      -moz-text-align-last: justify; /* For Firefox prior 58.0 */
      text-align-last: justify;
    }
    & .campaign-register-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  & .campaign-list-img {
    display: flex;
    flex-direction: column;

    & .list-img {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
  }

  & .campaign-orther-list {
    display: block;
    width: 100%;

    & ul {
      & li {
        display: flex;
        justify-content: center;
      }
    }

    & .campaign-list-card {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
      text-align: center;
      grid-column-gap: 20px;
      height: 200px;
      width: 200px;

      & .campaign-img {
        width: 100%;
        height: 80%;
        object-fit: cover;

      }
    }
  }
}

@media screen and (max-width: $mobile-width - 1px) {
  & .campaign-banner {
    & .img-banner {
      height: 200px;
    }

    & .countdown {
      // width: 200px;
      font-size: 34px;
      float: right;
    }
  }

  .campaign-list-img {
    & .list-img {
      & img {
        width: 80px;
      }
    }
  }

}

@media screen and (min-width: $mobile-width - 1px) {
  & .campaign-banner {
    & .img-banner {
      height: 300px;
    }

    & .countdown {
      // width: 200px;
      font-size: 40px;
      float: right;
    }
  }
  .campaign-main {
    padding: 0 15% !important;;

    & .campain-information {
      & .information {
        width: 80%;

      }
    }
  }
  .campaign-list-img {
    & .list-img {
      & img {
        width: 150px;
      }
    }
  }
}

@media screen and (min-width: $tablet-width - 1px) {
  & .campaign-banner {
    & .img-banner {
      height: 400px;
    }

    & .countdown {
      // width: 200px;
      font-size: 46px;
      float: right;
    }
  }
  .campaign-main {
    padding: 0 15% !important;

    & .campain-information {
      & .information {
        width: 80%;
        float: right;

      }
    }
  }
  .campaign-list-img {
    & .list-img {
      & img {
        width: 200px;
      }
    }
  }
  .campaign-register-form {
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: $desktop-width - 1px) {
  & .campaign-banner {
    & .img-banner {
      height: 500px;
    }

    & .countdown {
      // width: 200px;
      font-size: 52px;
      float: right;
    }
  }
  .campaign-main {
    & .campain-information {
      & .information {
        width: 80%;
        float: right;

      }
    }
  }
  .campaign-list-img {
    & .list-img {
      & img {
        width: 250px;
      }
    }
  }
}
