@import "assets/scss/base/_variable.scss";
.cart-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 40px;
  & .cart-right {
    & .cart-detail {
      display: flex;
      flex-direction: column;
      & p {
        padding: 1em 2em;
        display: flex;
        & span {
          margin-left: auto;
        }
      }
      & .btn-cart-continous {
        height: 30px;
      }
      & .btn-cart-continous {
        margin-left: auto;
      }
    }
  }
  & .payment-methods {
    width: 100%;
    & .bottom-line {
      width: 100px;
      border-bottom: 2px solid $primary;
    }
    & .payment-method-content{
      // width: 60%;
    }
  }
}
