@import "../base/variable";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Festive&family=Grenze+Gotisch:wght@300&family=Qwigley&family=Dancing+Script&family=Sriracha&display=swap');

.over-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#f5f5f5 ;
}



.customize {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  width: 100%;
  height: 85vh;
  overflow: hidden;

  & canvas {
    height: 100%;
  }

  & h1 {
    position: absolute;
    top: 43px;
    left: 140px;
    padding: 0;
    margin: 40px;
    font-size: 5em;
    line-height: 0.7em;
    letter-spacing: -6px;
    color: #272730;
  }
}

.picker {
  position: absolute !important;
  top: 50px;
  right: 5px;
  color: $text-color;

  & .list-group-active {
    color: #ffffff;
    background-color: $hover-color;
  }

  & a {
    min-width: 120px;
  }
}

.export {
  position: absolute !important;
  top: 5px;
  right: 5px;
  z-index: 2;
}

.tab-custom {
  display: flex;
  height: 100%;

  & .tab-menu {
    display: flex;
    flex-direction: column;
    background-color: #95a790;

    padding-top: 30px;

    & .texture-action {
      min-width: 50px;
      min-height: 50px;
      text-align: center;
      color: white;
      line-height: 45px;
      cursor: pointer;
    }

    & .selected {
      background-color: white;
      color: $text-color;
      cursor: pointer;
      color: #ffffff77;
    }
  }

  & .tab-detail {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px 5px 5px;
    overflow: auto;
    transition: all 1s linear;

    & .detail {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &-close {
      width: 100%;
      text-align: right;
      color: $close-btn-color;
      font-size: x-large !important;
    }

    & .switch {
      color: $text-color;
      font-size: large;
      font-weight: bold;
      text-transform: uppercase;
      padding: 5px 0 5px 0;
    }

    & .img-option {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: auto;


      & .img-active {
        border: 2px solid #95a790;
        border-radius: 5px;
      }

      & img {
        margin-right: 5px;
        margin-top: 5px;
        cursor: pointer;
        max-width: 50px !important;
        max-height: 50px !important;
        border-radius: 5px;
        border: 3px solid #fff;
        object-fit: cover;
      }
    }

    & .color-option {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: inherit;

      & a {
        position: relative;
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        border: 0.2rem solid #fff;
        margin: 0 0.1rem 0.3rem;
        transition: box-shadow 0.35s ease;
      }

      &-picker {
        width: inherit;

      }
    }
  }
}

.tab-custom {
  & .tab-menu {
    & .selected {
      color: $primary;
    }
  }

  & .switch-button {
    display: none;
  }
}

.group-change-img-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.group-change-color-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.group-select-text-attribute {
  width: inherit;
  display: flex;
  gap: 20px;
}

.label {
  padding-left: 1px;
  font-size: 14px;
  color: $text-color;
}

.select-font {
  font-size: 20px;
  height: 38px;
  line-height: 15px;
}

@media screen and (max-width: $tablet-width) {

  .customize {
    & .picker {
      display: none;
    }
  }
  .switch-button {
    display: block !important;
  }
  .color-option-picker {
    padding: 0 10px;
  }
}
@media screen and (min-width: $mobile-width) {
  .main-customize {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and(min-width: $tablet-width) {
  .group-select-text-attribute {
    flex-wrap: wrap;
  }

}

@media screen and (min-width: $desktop-width) {
  .group-change-img-tab {
    width: 70%;
  }
  .group-change-color-tab {
    width: 90%;
  }
}