.home-page {
    display: flex;
    flex-direction: column;
  & .banner {
      object-fit: contain;
      height: 500px;
    & .img-banner img{
        height: 460px;
        width: 100%;
        object-fit: cover;
    }
    & .banner-content {
      margin: -200px 50px;
      color: #fff;
    }
    & .button-discover{
      height: 50px;
      width: 150px;
    }
  }
  & .top-product-sale {
    
  }
  & .top-product-new {
  }
  & .top-product-show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5px;
  }
}
