@import "../../scss/base/variable";

.login-link {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}
.list-item{
  height: 200px;
  overflow: auto;
}


@media screen and (min-width: $tablet-width) {
  .deliver-address {
  }
  .total-order {
    margin-left: 20px;
  }

}
