.add-new-form {
  & table {
    width: 100%;
    border-spacing: 15px;
    collapse: none;

    & td {
      vertical-align: top;
      padding: 0 15px;
      width: 50%;
    }
  }
  & .submit-button-form {
    display: flex;
    justify-content: space-between;
    padding: 20px;

  }

}
