.manager-sort{
    & input{
        font-size: 11px;
    }
    & form{
        width: 100%;
    }
    display: flex;
    & .row{
        align-items: center;
    }
    & select{
        font-size: 11px;
        border: 1px solid #ced4da !important;
    }
}