.manager-main {
  .manager-container {
    margin: 5%;
  }
  .manager-main-container {
    width: 80%;
    font-size: 11px;
  }
  .manager-slidebar {
    width: 20%;
  }
}

@media screen and(max-width:500px) {
  .manager-main {
    flex-wrap: wrap;
  }
  .manager-main-container {
    width: 100% !important;
  }
  .manager-slidebar {
    width: 100% !important;
    background-color: #fff;
  }
}
