@import "src/assets/scss/base/_variable.scss";
.side-bar {
  height: 100vh;
  width: 20%;
  position: fixed;
  & .fa,
  .fas,
  .far,
  .fal,
  .fad,
  .fab {
    width: 25px;
    // font-size: 20px;
  }
  & ul{ 
    width: fit-content;
    & a:hover{
      font-weight: 500;
      color: $primary;
    }

  }
  & .logo {
    margin-right: 5px;
    height: 50px;
  }

  & .logo-text {
    margin-right: 20px;
    width: 150px;
  }
}

// .text-side-bar{
//   display: block;
// }

@media screen and (max-width: 700px) {
  .close-button{
    display: inline !important;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 20%;
    margin-top: 30px;
  }
  .manager-main {
    flex-wrap: wrap;
  }
  .manager-main-container {
    width: 100% !important;
  }
  .manager-slidebar {
    z-index: 4;
    width: 100% !important;
    height: auto !important;
    & .side-bar {
      height: 100%;
      width: 100%;
      position: absolute;
    }
    
  }
  .open-button{
    position: absolute;
    border: none !important;
    margin: 5px 0 0 10px;
  }
}
@media screen and (max-width: 1000px){
  // .text-side-bar{
  //   display: none;
  // }
} 