.manager-header {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  & .back-button {
    // font-size: 30px;
    cursor: pointer;
  }
  & .dropdown-menu{
    min-width: auto !important;
  }
}
