.product-head-row{
    display: flex;
    justify-content: space-between;
    
}
.manager-product-show{
    padding: 20px;
    border-radius: 15px;
    & span{
        border-bottom: 4px solid #0356F6;
        padding: 15px 0;
    }
    & table{
        width: 100%;
        & tr{
            border-bottom: 1px solid;
        }
    }
}
@media screen and(max-width:500px) {
    .manager-product-show{
        padding: 20px 0;
        width: 100%;
    }
    .manager-container{
        margin: 0 !important;
    }
  }