@import "../../base/variable";
.management-account {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  & .tab-switch {
    font-size: larger;
    height: 68vh;
    & i {
      width: 40px;
    }
  }
  & .cursor-pointer {
    cursor: pointer;
  }
  & .active {
    color: $primary;
  }
}
.tab-show {
  padding: 0 30px;
}
.bg-box {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.table-account {
  border-spacing: 15px;
  border-collapse: unset;
}
.title-table {
  font-weight: 500;
  vertical-align: top;
}
.tab-choosen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  a {
    text-decoration: none;
    color: black;
  }
 
}
