@import "../../base/variable";
.management-account {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  & .tab-switch {
    font-size: larger;
    & .account-name {
    }
    & .my-account {
    }
    & .my-payment {
    }
    & .my-address {
    }
  }
  & .cursor-pointer {
    cursor: pointer;
  }
  & .active {
    color: $primary;
  }
}

.account-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.change-infomation {
  display: flex;
  flex-direction: column;
  & table {
    width: 100%;
  }
  & .info-form {
    & input {
      width: 100%;
      border: 1px solid;
      border-radius: 5px;
      padding-left: 5px;
      &:focus{
        outline: none;
      }
    }
    & select,input{
      color: #5a5a5a;

    }
  }
}

@media screen and (max-width: $mobile-width - 1px) {
  // .tab-switch{
  //     width: -webkit-fill-available;
  //     & .active {
  //         border-bottom: 1px solid $primary;
  //       }
  // }
}
@media screen and (min-width: $mobile-width - 1px) {
}
@media screen and (max-width: $tablet-width - 1px) {
  .tab-switch {
    width: -webkit-fill-available;
    & .active {
      border-bottom: 1px solid $primary;
    }
  }
  .tab-show {
    width: 100%;
  }
}
@media screen and (min-width: $tablet-width) {
  .tab-switch {
    width: 33%;
  }
  .tab-show {
    width: 66%;
  }
}
